<p>
  <b>Commenter:</b>
  <%= comment.commenter %>
</p>
<p>
  <b>Body:</b>
  <%= comment.body %>
</p>
<ul>
  <li>
    <%= link_to 'Delete this comment',
                [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' }
    %>
  </li>
</ul>
<hr>
