<ul>
  <li>
    <%= link_to 'New article', new_article_url %>
  </li>
  <li>
    <%= link_to 'Main page', root_url%>
  </li>
</ul>

<% @articles.each do |article| %>
  <article>
    <b>Title article:</b> <%= article.title %>
    <p>
      <b>Text article:</b> <%= article.text %>
    </p>
    <ul>
      <li>
        <%= link_to 'Show this article', article_path(article) %>
      </li>
      <li>
        <%= link_to 'Edit this article', edit_article_path(article) %>
      </li>
      <li>
        <%= link_to 'Destroy this article',
                    article_path(article),
                    method: :delete,
                    data: { confirm: 'Are you sure?' }
        %>
      </li>
    </ul>
  </article>
  <hr>
<% end %>
