<p>
  This title: <%= @article.title %>
</p>

<p>
  This text: <%= @article.text %>
</p>

<h3>Comments</h3>
<%= render @article.comments %>

<h4>Create Comment</h4>
<%= render 'comments/form' %>

<%= link_to 'Show all articles', articles_url %>