<ul>
  <li>
    <%= link_to 'Link to about', about_url %>
  </li>
  <li>
    <%= link_to 'My Blog', articles_url %>
  </li>
</ul>
<h1>
  <%= @title %>
</h1>
<p>
  Title generate ruby and name title going from ruby controller pages
</p>
